@{
  ViewBag.Title = "About Page";
}
<h2>About The World</h2>


material-icons
<p class="material-icons">xxxxx</p>

<i class="material-icons" style="font-size:60px;color:red;">accessible</i>


<i class="material-icons md-light">&#xE854;</i>
